{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}

    <div class="soloBook">
        <img src="{{ asset(book.cover) }}" alt="couverture du livre">
        <div>
            <span class="title">{{ book.title }}</span> <span class="author">({{ book.author }})</span>
            <div class="summary">{{ book.summary }}</div>
        </div>

    </div>

{% endblock %}
